<mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true">
    <mat-expansion-panel-header>
        <mat-panel-title> 
            <span type="button"
                class="label 
                label-default">
                {{index}} ({{formType}})
            </span>
        
        </mat-panel-title>
        <mat-panel-description *ngIf="attribute">
            <span type="button"
                class="label 
                label-primary">
            {{attribute}}
            </span>
        </mat-panel-description>
        <mat-panel-description>
            {{title}} <span *ngIf="required" style="color:red">*</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div  >
        <div class="wrapper">
            <mat-icon class="right-float" matTooltip="cancel" (click)="hidePannel()">cancel</mat-icon>
            <mat-icon class="right-float" matTooltip="edit" *ngIf="!formClicked" (click)="showForm()">edit</mat-icon>
            <mat-icon class="right-float" matTooltip="check" *ngIf="formClicked" (click)="done()">check</mat-icon>
            <div *ngIf="!formClicked">
                <div class="title">
                    {{title}}
                </div>
                <form 
                class="flex flex-col 
                overflow-hidden form-padding
                white-background">
                    <div class="row">
                        <mat-form-field appearance="outline" class="flex-auto row-item">
                            <mat-label> Latitute </mat-label> 
                            <input matInput 
                                placeholder="0"
                                type="number"
                                value="0"
                                >
                        </mat-form-field>
        
                        <mat-form-field appearance="outline" class="flex-auto row-item">
                            <mat-label> Longitude </mat-label> 
                            <input matInput type="number" 
                            placeholder="0" value="0">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline" class="flex-auto row-item">
                            <mat-label> Altitude </mat-label> 
                            <input matInput 
                                placeholder="0"
                                type="number"
                                value="0"
                                >
                        </mat-form-field>
        
                        <mat-form-field appearance="outline" class="flex-auto row-item">
                            <mat-label> Precision </mat-label> 
                            <input matInput type="number" 
                            placeholder="0" value="0">
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <span class="red-text" *ngIf="final && required">
                *Required
            </span>
        </div>
    </div>
    <div *ngIf="formClicked">
        <form #formDirective
            (ngSubmit)="onSubmit(formDirective)"
            class="flex flex-col 
            overflow-hidden form-padding
            white-background">
            
            <div class="flex">
                <mat-form-field appearance="outline" class="flex-auto" style="width:440px !important">
                    <mat-label> Title </mat-label> 
                    <input matInput id="title"
                         placeholder="{{title}}" 
                         value="{{title}}"
                         [(ngModel)]="title"
                         [ngModelOptions]="{standalone: true}"
                         >
                 </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="" appearance="outline" style="width:440px !important">
                    <mat-label>Attribute</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Attribute"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field appearance="outline" class="flex-auto" style="width:440px !important">
                    <mat-label> Hint </mat-label> 
                    <input matInput>
                 </mat-form-field>
            </div>
            <div class="flex ">
                <label class="custom-file-upload" for="img">
                    <i class="fa fa-upload"></i>
                    Upload Image
                </label>
                <input type="file" name="uploadfile"
                     id="img" style="display:none;"/>
            </div>

            <section class="checkbox-section">
                <mat-checkbox class="checkbox-margin" [(ngModel)]="required" [ngModelOptions]="{standalone: true}" *ngIf="!disabled">Answer Required</mat-checkbox>
                <mat-checkbox class="checkbox-margin" [(ngModel)]="disabled" [ngModelOptions]="{standalone: true}" *ngIf="!required">Is Disabled</mat-checkbox>
            </section>
        
            
        </form>

        <div class="btn-row">
            <button class="btn-success" (click)="done()"> 
                <i class="fa fa-check"></i> Done 
            </button>

            <button class="btn-dark" (click)="hideForm()"> 
                <i class="fa fa-close"></i> Close 
            </button>
        </div>
    </div>
</mat-expansion-panel>