<!-- <app-number-field [index]="1" [fieldName]="fieldName"></app-number-field> -->
<app-number-form [index]="1" [formType]="formType2" [fieldName]="fieldForNumber"></app-number-form>
<app-date-form [index]="2" [formType]="formType"></app-date-form>
<app-video-form [index]="3" [formType]="'video'"></app-video-form>
<app-image-form [index]="4" [formType]="'image'"></app-image-form>
<app-email-form [index]="5" [formType]="'email'"></app-email-form>
<app-note-form [index]="6" [formType]="'note'"></app-note-form>
<app-geolocation-form [index]="7" [formType]="'geolocation'"></app-geolocation-form>
<app-dropdown-form [index]="8" [formType]="'dropdown'"></app-dropdown-form>